@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --black-100: rgba(235, 235, 235, 1);
    --black-200: rgba(221, 221, 221, 1);
    --black-300: rgba(176, 176, 176, 1);
    --black-400: rgba(113, 113, 113, 1);
    --black-50: rgba(247, 247, 247, 1);
    --black-800: rgba(34, 34, 34, 1);
    --black-900: rgba(0, 0, 0, 1);
    --heading-1-font-family: 'Messina Sans', Helvetica;
    --heading-1-font-size: 26px;
    --heading-1-font-style: normal;
    --heading-1-font-weight: 600;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: normal;
    --paragraph-bold-font-family: 'Messina Sans', Helvetica;
    --paragraph-bold-font-size: 16px;
    --paragraph-bold-font-style: normal;
    --paragraph-bold-font-weight: 600;
    --paragraph-bold-letter-spacing: 0px;
    --paragraph-bold-line-height: 23px;
    --paragraph-font-family: 'Messina Sans', Helvetica;
    --paragraph-font-size: 16px;
    --paragraph-font-style: normal;
    --paragraph-font-weight: 400;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: 23px;
    --paragraph-sm-font-family: 'Messina Sans', Helvetica;
    --paragraph-sm-font-size: 14px;
    --paragraph-sm-font-style: normal;
    --paragraph-sm-font-weight: 400;
    --paragraph-sm-letter-spacing: 0px;
    --paragraph-sm-line-height: 23px;
    --shadewhite: rgba(255, 255, 255, 1);
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301,
        U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301,
        U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v40/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2)
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301,
        U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/inter/v7/UcCO3FA8qM_QNGjUV_4c5PGM.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/inter/v7/UcCO3FA8qM_QNGjUZP8c5PGM.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/inter/v7/UcCO3FA8qM_QNGjUWf8c5PGM.woff2') format('woff2');
}
* {
    margin: 0;
}
html,
body,
:root {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

.rdrMonth {
    width: 100% !important;
}

.date-range {
    font-family: 'Arial', sans-serif;
    --calendar-bg-color: white;
    --calendar-border-radius: 12px;
    --calendar-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --calendar-day-hover-bg: #333;
    --calendar-selected-bg: #ff385c;
    --calendar-selected-color: white;
    --calendar-font-size: 14px;
}

.rdrCalendarWrapper {
    background-color: var(--calendar-bg-color) !;
    border-radius: var(--calendar-border-radius);
    box-shadow: var(--calendar-box-shadow);
    font-size: 16px !important;
    width: 100% !important;
}

.rdrDay:hover {
    background-color: var(--calendar-day-hover-bg);
}

.rdrDay.rdrDaySelected .rdrDayNumber span,
.rdrDay.rdrDaySelected .rdrDayNumber:hover span {
    background-color: var(--calendar-selected-bg);
    color: var(--calendar-selected-color);
}
.rdrMonthName {
    text-align: center !important;
}
.rdrDayNumber span {
    font-size: var(--calendar-font-size);
}

.rdrNextPrevButton {
    background-color: #fff !important;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 24px !important;
}

.rdrNextPrevButton:hover {
    background-color: #f3f4f6 !important;
    border-radius: 50% !important;
}

.slick-prev,
.slick-next {
    top: 22% !important;
}

/* Ẩn thanh cuộn cho trình duyệt hỗ trợ */
html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Ẩn thanh cuộn cho Webkit (Chrome, Edge, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Webkit browsers */
}
